Q. 1.

In [1]:
for i in range(1,6):
    for j in range(1,6):
        if j<=6-i:
            print(5,end='')
        else:
            print(' ',end='')
    print()

55555
5555
555
55
5

In [7]:
## Q2

for i in range(1,6):
    for j in range(0,6):
        if j<=6-i:
            print(j,end='')
        else:
            print(' ',end='')
    print()

012345
01234
0123
012
01

In [2]:
## Q3
for i in range(1,6):
    for j in range(1,6):
        if j<=i:
            print((2*i)-1,end='')
        else:
            print(" ",end='')
    print()

1
33
555
7777
99999